@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: Beaufort;
  src: url(/assets/fonts/beaufort-bold.ttf);
}

@font-face {
  font-family: Spiegel;
  src: url(/assets/fonts/spiegel.ttf);
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: Beaufort, sans-serif;
  color: #eee;
  letter-spacing: 0.03em;
  line-height: 1.1;
}

h1 {
  font-size: 5em;
}

p {
  font-family: Spiegel, sans-serif;
  font-size: 0.9em;
  color: #eee;
  letter-spacing: 0.08em;
}

.btn {
  font-family: Beaufort, sans-serif;
  background-color: #0bc6e3;
}

@media (max-width: 800px) {
  h1 {
    font-size: 3em;
  }

  p {
    font-size: 0.8em;
  }
}
