<div class="content-home">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h1>Bem-vindo a Summoner's Rift</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <p>Você foi convocado a participar do mais empolgante desafio de sua vida: acabar com os intermináveis conflitos
          em Valoran. A nação humana de Demacia, o assombroso império de Noxus e os moradores de todas as cidades-estado
          aguardam ansiosamente por este momento.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <button type="button" (click)='navigateToRegistrationOfTeams()' class="btn btn-primary">PREPARAR
          EQUIPES</button>
      </div>
    </div>
  </div>
</div>